$base-color: rgb(245, 245, 245);
$main-color: #b3d0d7;
$accent-color: #82aaaa;

* {
  box-sizing: border-box; 
  font-family: serif;
}

.wrapper {
  width: 100%;
  background-color: $base-color;
  .header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $main-color;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: white;
    &__navi {
      display: flex;
      padding: 0 10px;
      li {
        display: inline-block;
        line-height: 50px;
        padding: 0 10px;
        border-radius: 15px;
        height: 99%;
        .icon {
          color: $accent-color;
        }
        a {
          text-decoration: none;
          color: black;
          display: block;
        }
      }
    }
    &__user-show {
      margin-right: 10px;
      line-height: 50px;
      padding: 0 10px;
      border-radius: 15px;
      .icon {
        color: $accent-color;
        display: inline-block;
        margin-right: 3px;
      }
      a {
        text-decoration: none;
        color: black;
        display: block;
      }
    }
  }
  .cotentes {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    .page-title {
      background-image: image-url("night.jpg");
      background-size: cover;
      width: 100%;
      height: 350px;
      text-align: center;
      font-size: 50px;
      margin-bottom: 60px;
      letter-spacing: 5px;
      color: white;
      h1 {
        line-height: 350px;
        font-family: cursive;
        opacity: 0.7;
        display: none;
      }
    }
    .lessons {
      width: 80%;
      background-color: $base-color;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .lesson {
        width: 40%;
        height: 400px;
        border: 2px solid $main-color;
        margin-bottom: 50px;
        border-radius: 3px;
        box-shadow: 3px 3px $main-color;
        background-color: white;
        &__top {
          width: 100%;
          height: 100px;
          text-align: center;
          padding-top: 25px;
          border-bottom: 2px solid $main-color;
          p {
            font-size: 20px;
            padding-top: 3px;
          }
        }
        &__theme {
          height: 50px;
          line-height: 50px;
          padding-left: 1em;
          border-bottom: 1px solid $main-color;
          cursor: pointer;
          a {
            text-decoration: none;
            color: black;
            display: block;
            .icon {
              float: right;
              line-height: 50px;
              margin-right: 15px;
              opacity: 0.7;
            }
            span{
              color: red;
              display: inline-block;
              float: right;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .form {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 10;
    height: 30px;
    width: 35%;
    background-color: $accent-color;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    .image {
      margin-right: 10px;
    }
    .question-modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 100;
      display: none;
      .modal {
        position: absolute;
        top: 20%;
        left: 20%;
        background-color: #e6ecf0;
        padding: 30px 0 40px;
        border-radius: 10px;
        width: 60%;
        height: auto;
        text-align: center;
        .fa-times {
          position: absolute;
          top: 12px;
          right: 12px;
          color: rgba(128, 128, 128, 0.46);
          cursor: pointer;
          font-size: 30px;
        }
        .question-form {
          width: 100%;
          h2 {
            color: #2b292c;
            letter-spacing: 1px;
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 20px;
          }
          input {
            width: 70%;
            margin-bottom: 20px;
            font-size: 12px;
            padding: 12px 12px;
            border: 1px solid #d0d5d8;
            border-radius: 5px;
            font-size: 16px;
            display: inline-block;
          }
          textarea {
            width: 70%;
            margin-bottom: 20px;
            font-size: 12px;
            padding: 12px 12px;
            border: 1px solid #d0d5d8;
            border-radius: 5px;
            font-size: 16px;
            margin: 0 auto;
            display: block;
            margin-bottom: 30px;
          }
          #submit-btn {
            display: inline-block;
            padding: 14px 60px;
            background-color: $accent-color;
            border: none;
            border-radius: 3px;
            color: white;
            margin: 10px auto 0;
            cursor: pointer;
            &:active {
              position: relative;
              top: 5px;
            }
          }
        }
      }
    }
  }
  .container {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    background-color: $base-color;
    .top-main {
      height: 400px;
      width: 100%;
      background-image: image-url("memo.jpg");
      background-size: cover;
      &__section-title {
        font-size: 50px;
        color: white;
        text-align: center;
        line-height: 400px;
      }
    }
    .curriculums {
      width: 100%;
      &__contents-box {
        width: 100%;
        background-color: white;
        margin-top: 15px;
        padding: 20px 30px;
        font-size: 20px;
        &__primary-sentence {
          h2 {
            border-bottom: 1px solid $accent-color;
            font-weight: bold;
            font-size: 36px;
            padding-bottom: 5px;
            margin-bottom: 50px;
            padding-top: 10px;
          }
          h3 {
            font-weight: bold;
            margin-bottom: 40px;
          }
          p {
            margin-bottom: 80px;
            line-height: 40px;
          }  
          .red {
            color: red;
          }
        }
      &__secondary-sentence {
        margin-bottom: 20px;
        line-height: 40px;
        .red {
          color: red;
          margin: 50px 0;
        }
        .definition {
          background-color: $main-color;
          padding: 50px 0;
          width: 90%;
          margin: 70px auto;
          text-align: center;
          .English {
            margin-top: 40px;
            font-size: 18px;
          }
        }
      }
      }
    }
  }
}